{% include 'extension/sidebar.html.twig' %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Liste d'eleves en ordre</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Elèves en ordre</h3>
                        </div>
                        <div class="col text-right">
                            <select name="classe" id="classe" class="form-control">
                                <option selected="selected">Choisir une classe...</option>>
                                {% for classe in liste_classes %}
                                    <option value="{{ classe.id }}">{{ classe.designation~' '~classe.options.designation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="frais" id="frais" class="form-control">
                                <option selected="selected">Choisir un frais...</option>>
                                {% for frais in liste_frais %}
                                    <option value="{{ frais.id }}">{{ frais.designation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            <input type="button" class="btn btn-primary" name="recherche" id="recherche" value="RECHERCHER">
                    </div>
                </div>
                <div class="table-responsive" id="tableau">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom complet</th>
                            <th scope="col">Classe</th>
                            <th scope="col">Frais</th>
                            <th scope="col">M. Fixe</th>
                            <th scope="col">M. Payé</th>
                            <th scope="col">M. Resté</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        {% set i = 1 %}
                        {% for paiement in paiements %}
                            <tr>
                                <td>
                                    {{ i }}
                                </td>
                                <td>
                                    {{ paiement.inscription.eleve.nomComplet|upper }}
                                </td>
                                <td>
                                    {{ paiement.inscription.classe.designation~' '~paiement.inscription.classe.options.designation }}
                                </td>
                                <td>
                                    {{ paiement.frais.designation }}
                                </td>
                                <td>
                                    {{ paiement.frais.montant }}
                                </td>
                                <td>
                                    {{ paiement.montantPaye }}
                                </td>
                                <td>
                                    {{ paiement.montantReste }}
                                </td>
                                <td>
                                    <a href="">Facturer</a>
                                </td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "extension/footer.html.twig" %}
</div>
{% block javascripts %}
     <script src="{{ asset('my_js/paiement_frais_par_classe.js') }}"></script>
{% endblock %}