{% include 'extension/sidebar.html.twig' %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Inscription</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Elève : {{ eleve.eleve.nomComplet|upper ~', '~eleve.classe.designation ~' '~eleve.classe.options.designation }}</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <form method="post">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select name="frais" id="frais" class="form-control form-control-sm">
                                            {% for frais in frais %}
                                                <option label="{{frais.designation~' '~frais.montant }}" value="{{ frais.id }}">{{ frais.montant }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="hidden" name="_token" value="{{ csrf_token('paiement') }}">
                                        <input type="text" class="form-control form-control-sm" name="montant_paye" id="montant_paye" placeholder="Montant payé">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control form-control-sm" id="montant_reste" name="montant_reste" placeholder="Montant resté">
                                        <input type="text" class="form-control form-control-sm" id="reste" name="reste" placeholder="Montant resté" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-sm" value="ENREGISTRER">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>Frais payés</h3>
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th>Date</th>
                                        <th scope="col">Désignation</th>
                                        <th scope="col">Montant</th>
                                        <th scope="col">M. Payé</th>
                                        <th scope="col">M. Resté</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for frais in ordre %}
                                        <tr>
                                        <td>
                                            {{ i }}
                                        </td>
                                        <td>
                                            {{ frais.created_at|date('d/m/Y') }}
                                        </td>
                                        <td>
                                            {{ frais.designation|upper }}
                                        </td>
                                        <td>
                                            {{ frais.montant }}
                                        </td>
                                        <td>
                                            {{ frais.montant_paye }}
                                        </td>
                                        <td>
                                            {{ frais.montant_reste }}
                                        </td>
                                        <td>
                                            <a href="{{ path('facture_mono_frais', {'token': frais.token}) }}">Facturer</a>
                                            {% if frais.montant_reste > 0 %}
                                                <a href="{{ path('ajouter_partie', {'token': frais.token, 'inscription': eleve.token, 'new_token': csrf_token('new_token')}) }}">Ajouter</a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                        {% set i = i + i %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                Frais non payés
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Désignation</th>
                                        <th scope="col">Montant</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for frais in frais %}
                                        <tr>
                                            <td>
                                                {{ i }}
                                            </td>
                                            <td>
                                                {{ frais.designation|upper }}
                                            </td>
                                            <td>
                                                {{ frais.montant }}
                                            </td>
                                            <td>
                                                <a href="">Payer</a>
                                            </td>
                                        </tr>
                                    {% set i = i+1 %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "extension/footer.html.twig" %}
</div>
<script>
    $(document).ready(function(){
        $("#montant_paye").on("keyup", function(){
            let paye = $(this).val()
            let montant = $("#frais").val()
            let option = $("#frais").find("option[value="+montant+"]").text()

            if(isNaN(paye))
            {
                console.log("NaN")
                return false
            }else{
                let reste = option - paye
                console.log(reste)
                $("#montant_reste").val(reste)
                $("#reste").val(reste)
            }
        })
    })
</script>